h1{
    color: white;
    border-style: solid;
    border-width: medium;
    border-color: green; 
    background-color: #00538A;
    display: flex; 
    justify-content: center;
    padding: 5px;   
}
section{
    background:	#427EB3;
    margin-top: 20px;
    padding: 10px; 
    color: rgb(19, 14, 14);   
}
#btn-submit-form{    
    background-color: #5483ac;
    width: 200px; 
    justify-content: center;
}
#btn-submit-form:hover{
    background: #00538A;       
}
/* este css pertenece al index */
#btn-registrar{
    display: inline-block;     
    background: #427EB3; 
    color: black;   
    padding: 10px 25px;
    text-decoration: none; 
    margin: 5px;
}
#btn-registrar:hover{ 
    background: aqua;
}
nav{
    background-color: #6992D6;
    padding: 15px;
    display: flex; 
    justify-content: center;
}
#principal_logo{
    width: 210px;
    margin-right: 100px;
}
img{
    width: 100%;
    margin-bottom: 15px;
}